@import './base.css';

h2, h3, h4, h5{
  color: var(--color-text);
}

.formulario label {
  position: relative;
  }

  .formulario label .input {

    font-size:16px;
    border:1px solid var(--tema-border);
    border-radius: 8px;
    padding:15px 5px 5px 10px;
    background: var(--color-background);
    color: var(--color-text);
    width: 25vw;
    height: 40px;
    display: flex;
    flex-flow: 1 0 250px;
  outline: 0;
}

.formulario label .input + span {
  color: var(--color-text);
  position: absolute;
  left: 15px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.formulario label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 1em;
}

.formulario label .input:focus + span,
.formulario label .input:valid + span {
  color: var(--color-label-blue);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}


/* aa */
.formulario label {
  position: relative;
  }

  .formulario label .textarea {

    font-size:16px;
    border:1px solid var(--tema-border);
    border-radius: 8px;
    padding:15px 5px 5px 10px;
    background: var(--color-background);
    color: var(--color-text);
    width: 50.5vw;
    height: 400px;
    display: flex;
    flex-flow: 1 0 250px;
  outline: 0;
}

.formulario label .textarea + span {
  color: var(--color-text);
  position: absolute;
  left: 15px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.formulario label .textarea:placeholder-shown + span {
  top: 12.5px;
  font-size: 1em;
}

.formulario label .textarea:focus + span,
.formulario label .textarea:valid + span {
  color: var(--color-label-blue);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}
  
@media screen and (max-width: 450px){
  .header__app{
    display: block;
    width: 100vw;
    position: fixed;
    z-index: 1;
  }
}
